{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}

<h1>Nos collaborateurs</h1>

<div class="card-group">
	<div>
		{% for user in users %}
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">{{ user.firstname }} {{ user.lastname | upper }}</h5>
					<h6 class="card-subtitle mb-2 text-body-secondary"> {{ user.department.name }}</h6>
                    <a href="{{ path('app_user', { 'id': user.id } ) }}" class="card-link">Voir les informations</a>
				</div>
			</div>
		{% else %}
			<p>Aucune offre trouvée</p>
		{% endfor %}
	</div>
    </div>

{% endblock %}
