{% extends 'base.html.twig' %}

{% block title %}Fiche contact{% endblock %}

{% block body %}
{{ user.firstname }} {{ user.lastname | upper }}
<h5>{{ user.email }}</h5>
<a href="{{ path('app_directory') }}" >Retour à l'annuaire</a>

{% endblock %}
